@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo {
  transition: all 1.3s ease;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
