@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo {
  transition: all 1s ease;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.light {
  color: #333333; /* Text color for light mode */
  background-color: #ffffff; /* Background color for light mode */
}

.dark {
  color: #ffffff; /* Text color for dark mode */
  background-color: #333333; /* Background color for dark mode */
}
